<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="add_dish.html">Add Dish</a>
        <a href="remove_dish.html">Remove Dish</a>
        <a href="update_availability.html">Update Dish</a>
        <a href="take_order.html">Take an Order</a>
        <a href="update_order_status.html">Update an order status</a>
        <a href="review_orders.html">Orders</a>
    </nav>
    <h1>Review Orders</h1>
    <pre>{{ review }}</pre>
</body>
</html>