<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    a {
      text-decoration: none;
      color: black;
    }
  </style>
  <body>
    <nav>
      <a href="./create.html">Create</a>
      <a href="./read.html">Read</a>
      <a href="./update.html">Update</a>
      <a href="./delete.html">Delete</a>
    </nav>
  </body>
</html>
